@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", serif;
}

h1,
h2{
  color:#B8D7C0;
}

.class-name{
  text-transform: lowercase;
  color:#5D8A69;
  letter-spacing:5px;
  font-size:1.0rem;
  border-bottom: 5px dashed #C9E2D0; 
  padding-bottom: 0.5rem;
  font-weight: 300;
}

p{
  font-weight:300
}

.super_billy{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.billy a{
  text-decoration: none;
  color: #486d52;
  border: 2px solid rgb(150, 187, 176);
  background-color: white;
  padding: 1rem;
  width: 250px;
  border-radius: 5px;
  display: flex;
}
