*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.super{
    width: 200px;
    border: solid rgb(83, 71, 52);
    padding: 8px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all linear 0.5s;

}
.super:hover{
    background-color:rgb(138, 83, 46) ;
    color: white;
}

.super img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    object-position: 40% 50%;

}
