a{
    background-color: #264e58;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all linear 0.5s;
}

nav{
    display: grid;
    gap: 0.25rem;
}

a:hover{
    background-color: rgb(187, 214, 223);
    color: #333;

}